/* CSS declarations go here */
body { 
  padding-top: 30px;
  background-image: url('/congruent_pentagon.png') 
}
.page-header{
  text-align: center;
}

.well{
  background-color: white;
}

input{
  text-align: center;
}

input.align-left{
  text-align: left;
}