/* CSS declarations go here */
body { 
  padding-top: 30px;
  background-image: url('/congruent_pentagon.png') 
}
.page-header{
  text-align: center;
}

.well{
  background-color: white;
}

input{
  text-align: center;
}

input.align-left{
  text-align: left;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.page-header {
  margin: 20px 0 20px;
}

#iron-router-progress {
    background-color : #BEF8CF;
    box-shadow       : 0 0 5px #B1F6CB;
}

#iron-router-progress.spinner:before {
    border-color : #B1F6CB;
}